@font-face {
    font-family: "Gilroy";
    src: url(/assets/font/Gilroy-Regular.e91c08629c0684fd5ec1.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(/assets/font/Gilroy-RegularItalic.56d767435a55c77a3be4.woff2) format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Gilroy";
    src: url(/assets/font/Gilroy-Medium.d863c38fdfdfddda8a38.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(/assets/font/Gilroy-Semibold.f2884d073178030a6f83.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(/assets/font/Gilroy-Bold.950170aa8587b547d1d1.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}